.button {
    border-radius: 17px;
    border: none;
    border-color: transparent;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

.main__button:hover {
    cursor: pointer;
}

.main__button-wheel {
    padding: 13px 37px;
    box-shadow: 0 4px 0 0 var(--shadow-primary-color);
    background: var(--primary-color);
    font-size: 17px;
}

.main__button-settings {
    padding: 8px 24px;
    box-shadow: 0 4px 0 0 var(--shadow-secondary-color);
    background: var(--secondary-color);
    font-size: 13px;
    gap: 12px;
    color: var(--text-color);
}

.main__button-back {
    padding: 13px 29px;
    box-shadow: 0 4px 0 0 var(--shadow-primary-color);
    background: var(--primary-color);
    font-size: 13px;
    gap: 7px;
}

.invite__button {
    color: black;
    border: 1px solid var(--shadow-primary-color);
    border-radius: 17px;
    padding: 13px 18.5px;
    width: 100%;
    box-shadow: 0 4px 0 0 var(--shadow-primary-color), inset 0 0 4px 0 rgba(196, 61, 50, 0.69);
    background-color: transparent;
    justify-content: space-between;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-transform: lowercase;
}

.invite__button-text {
  text-align: center;
}

.section__button {
    padding: 10px 26px;
    box-shadow: 0 4px 0 0 var(--shadow-secondary-color);
    background: var(--secondary-color);
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.hidden {
    display: none;
}

@media (width >= 1024px) {
    /*.main__button-settings {
        align-self: end;
        order: -1;
    }*/
}