.card-settings-wrapper {
    border: 1px solid var(--shadow-primary-color);
    width: 100%;
}
.card-settings {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 8px 21px;
}

.card-settings-wrapper:last-child {
    border-radius: 0 0 17px 17px;
}

.card-settings__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 210px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--shadow-primary-color);
}   

.card-settings__icon-settings {
    color: var(--shadow-primary-color);
}

.navlink-settings {
    color: var(--shadow-primary-color);
    height: 22px;
}



