.page {
    min-block-size: 100dvb;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-home {
  padding-top: 85px;
  gap: 33px;
}

.main-settings {
  padding-top: 26px;
  gap: 16px;
  align-items: start;
  min-width: 300px;
}

.main-settings-card {
  padding-top: 26px;
  row-gap: 30px;
  column-gap: 88px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  min-width: 300px;
  align-items: center;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
}

.navlink:focus {
  outline: none;
}

.invite {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.invite__text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 143%;
  color: #000;
}

.invite__button-text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.section__title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--shadow-secondary-color);
  white-space: nowrap;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  row-gap: 17px;
  align-items: center;
  justify-content: space-between;
}

.section__list {
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  /* Занимает один ряд и
  растягивается на две колонки */
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3px;
}

.list__title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 13px 21px 13px;
}

.list__title-wrapper {
  border-radius: 17px 17px 0 0;
  border: none;
  width: 100%;
  margin: 0;
  background: var(--primary-color);
  min-height: 38px;
}

.dialog {
  border: 8px solid #5acc65;
  border-radius: 34px;
  width: 247px;
  height: 231px;
  box-shadow: 0 4px 0 0 #338a3c;
  background: var(--bg-color);
  padding: 0;
  box-sizing: border-box;
  padding: 31px 42px;
  left: 14px;
}

.dialog-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dialog__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.dialog__image {
  max-width: 150px;
  max-height: 120px;
}

.card__dialog{
  border: 2px solid var(--shadow-primary-color);
  border-radius: 16px;
  min-width: 310px;
  min-height: 186px;
  background: var(--bg-color);
  top: 30%;
  padding: 33px 25px;
}

.card__dialog-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.card__dialog-text {
  border: none;
  border-bottom: 2px solid var(--not-active-color);
  padding: 7px;
  background: transparent;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--not-active-color);
}

.card__dialog-text:focus {
  outline-color: var(--primary-color);
}

.card-settings__dialog {
  border: none;
  width: 100%;
  min-block-size: 100dvb;
  background: var(--bg-color);
  top: 0;
}

.card-settings__dialog-wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
  width: 296px;
}

.card-settings__button-back {
  align-self: start;
}

.card-settings__dialog-text {
  border: none;
  border-bottom: 2px solid var(--not-active-color);
  padding: 7px;
  background: transparent;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--not-active-color);
}

.card-settings__dialog-text {
  outline-color: var(--primary-color);
}

input::-moz-placeholder { color: var(--not-active-color); }
input::-webkit-input-placeholder { color: var(--not-active-color); }

.input-name.incorrect {
  border: 2px solid red;
}

.form-wrapper {
  border-radius: 16px;
  width: 291px;
  height: 175px;
  background-color: var(--not-active-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--shadow-primary-color);
  cursor: pointer;
 /* padding: 63px 121px; */
  border-radius: 16px;
}

.filename {
  color: var(--shadow-primary-color);
}

.form__input {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.file-list {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 291px;
  height: 175px;
}

.overlay {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s;
    z-index: 998;
}

.card__dialog-new-wrapper {
  position: relative;
  border: 2px solid var(--shadow-primary-color);
  border-radius: 16px;
  width: 310px;
  height: 186px;
  background: var(--bg-color);
  top: 30%;

  padding: 33px 25px;
  z-index: 999;
}

@media (width >= 1024px) {
  .main-settings {
    min-width: 500px;
  }
  .card {
    max-width: 500px;
  }
  .main-settings-card {
    min-width: 500px;
  }
}
