@font-face {
    font-family: 'Rubik-Black';
    src: url(Rubik-Black.ttf) format('ttf');
    font-weight: 900;
    font-display: swap;
  }

@font-face {
    font-family: 'Inter-Variable';
    src:
      local('Inter-Variable'),
      url(Inter-Variable.woff2)
      format('woff2 supports variations'),
      url(Inter-Variable.woff2) format('woff2-variations');
    font-display: swap;
    font-weight: 500;
  }