.card:first-child {
    border-radius: 17px 17px 0 0;
}

.card {
    border: 1px solid var(--not-active-color);
    width: 100%;
    max-width: 297px;
}

.card:last-child {
    border-radius: 0 0 17px 17px;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 210px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--not-active-color);
}   

.card__button {
    padding: 5px 19px;
    width: 100%;
    background-color: transparent;
    color: var(--not-active-color);
    justify-content: space-between;
}

.card.is-clicked {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.card.is-clicked .navlink-card{
    color: var(--text-color);
}

.card.is-clicked .card__title{
    color: var(--text-color);
}

.navlink-card {
    color: var(--not-active-color);
    max-height: 30px;
}

